:root {
    /* Spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;

    /* Farben (Figma) */
    --color-primary:   #70311C;
    --color-secondary: #F5E3C3;
    --color-accent:    #f8c882;
    --color-bg:        #FFFFFF;

    /* Schrift */
    --font-headline: 'Bowlby One', cursive;
    --font-base:     sans-serif;
}
